.RightSideBar{
    flex:2.8;
    margin-left:5px;
}

.RightSideBarWrap{
    padding:3px;
}

.Birthday{
    display: flex;
    align-items: center;
}

.BirthdayImage{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.BirthdayText{
    margin-left: 2px;
    font-weight: lighter;
    font-size: 16px;
}

.AdvertisementImage{
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 2px;
    max-height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.RigthSideBarTitle{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;
}

.OnlineFriends{
    margin: 20px 0 0 0 ;
    padding: 0;
    list-style: none;
}

