.RightSideBar{
    flex:5;
    overflow-x: scroll;
    margin-left:5px;
    margin-right: 5px;
}

.RightSideBarWrap{
    padding:5px;
    margin-left: 10px;
    min-width: 50px;
}

.Birthday{
    display: flex;
    align-items: center;
}

.BirthdayImage{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.BirthdayText{
    /* margin-left: 2px; */
    font-weight: lighter;
    font-size: 16px;
}

.AdvertisementImage{
    border-radius: 10px;
    margin-top: 20px;
    max-height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.RigthSideBarTitle{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;
}

.OnlineFriends{
    margin: 20px 0 0 0 ;
    padding: 0;
    list-style: none;
}


.MyProfileRightSideBarTitle{
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 25px;
}

.MyProfileRightSideBarInfo{
    font-weight: 600;
    margin-bottom: 5px;
}

.MyProfileRightSideBarFollowings{
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.followings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.following{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.followingName{
    /* margin-left: 5px; */
    font-size: 17px;
}

.MyProfileRightSideBarValue{
    margin-left: 5px;
    font-style: italic;
    color:rgb(119, 117, 115)
}

.MyProfileRightBottom{
    margin-top: 20px;
}

.followingImage{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.FollowingUser{

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color:white;
    background-color: rgb(214, 24, 40);
    cursor: pointer;
}

.FollowingUser:hover{
    background-color: rgb(186, 19, 33);
}

.UnfollowingUser{

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color:white;
    background-color: rgb(203, 126, 55);
    cursor: pointer;
}

.UnfollowingUser:hover{
    background-color: rgb(188, 116, 28);
}



.message{

    font-size: 30px;
    font-family: 'Style Script', cursive;
    margin-right: 10px;
}   

.Logout{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(81, 53, 195);
    color:white;
    border-radius: 5px;
}

.Logout:hover{
    background-color: rgb(50, 13, 200);
}

.Ad{
    font-size: 26px;
    font-style: italic;
}